.furniture__gallery{
     width: 50%;
     height: auto;
     
     .furniture__gallery__header{
          font-size: 20px;
          color: #d58e32;
          font-weight: 900;
          padding: 10px 0;
     }
     .offers-categories{
          width: 100%;
          .offers-items{
               display: flex;
               flex-direction: row;
               justify-content: space-evenly;
               align-items: flex-end;
               .offers-item{
                    padding: 2% 4%;
                    background-color: #fff;
                    cursor: pointer;
                    &:hover{
                         color: #fff;
                         background-color: #d58e32;
     
                    }
               }
               .active{
                    color: #d58e32;
                    border-top: 2px solid #d58e32 ;
                    background-color: #f4f5f7;
               }
          }

     }
     .offers-informations{
          width: 100%;
          height: 440px;
          position: relative;
          .current-offer-picture{
               width: 100%;
               height: 100%;
               object-fit: cover;
               position: absolute;
               cursor: pointer;
               &:hover{
                    object-fit: contain;

               }
          }
          .offers-panels{
               display: flex;
               flex-wrap: nowrap;
               align-content: center;
               justify-content: space-between;
               align-items: center;
               width: 100%;
               .left-panel{
                    display: flex;
                    //background-color: #d58e32;
                    flex-direction: column;
                    width: 110px;
                    height: 135px;
                    padding: 5px;
                    position: absolute;
                    top: 100px;
                    flex-wrap: nowrap;
                    align-items: baseline;
                    .offer-button{
                         display: flex;
                         align-items: center;
                         margin-top: 5px;
                         border: 1px solid var(--black);
                         .offer-button-item{
                              cursor: pointer;
                              display: flex;
                              .add-cart-button{
                                   margin-left: 6px;
                                   vertical-align: middle;
                                   text-align: center;
                                   display: none;
                              }
                              &:hover{
                                   color: #d58e32;
                              }
                              &:hover  .add-cart-button{
                                    display: flex;
                               }
                         }
                    }
                    .button-favorite{
                         width: 30px;
                         height: 26px;
                         cursor: pointer;
                         &:hover{
                              background-color: var(--orange);
                         }
                         &::before{
                              content: "\2661" ;
                         }
                    }
                    .button-compare{
                         
                         width: 30px;
                         height: 26px;
                         &::before{
                              content: "\1F6D2" ;
                         }
                    }
                    .button-eyes{
                         width: 30px;
                         height: 26px;
                         vertical-align: middle;

                         &::before{
                              width: 30px;
                               height: 26px;
                              content: "\1F441" ;
                         }
                    }
                    .button-cart{
                         vertical-align: middle;
                         width: 30px;
                         height: 26px;
                         cursor: pointer;
                         &::before{
                              content: "\1F6D2" ;
                         }
                         &:hover{
                              background-color: var(--orange);

                         }
                    }
                   
                    .add-cart-button{
                         position: relative;
                         background-color: red;
                         height: 22px;
                         .add-buttons{
                              width: 90px;
                              height: 22px;
                              background-color: #2a2a2a;
                              font-size: 12px;
                              color: #fff;
                         }
                         .arrow-triangle{
                              width: 0; 
                              height: 0; 
                              border-top: 5px solid transparent;
                              border-bottom: 5px solid transparent; 
                              
                              border-right:5px solid #2a2a2a; 
                              position: absolute;
                              left: -6%;
                              top: 29%;
                              z-index: 99999;
                         }
                    }

               }
               .right-panel{
                    position: absolute;
                    bottom: 10%;
                    right: 0;
                    width: 30%;
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .offer-items{
                         display: flex;
                         flex-direction: column;
                         align-items: flex-end;
                         position: relative;
                         width: 30%;
                         height: inherit;
                         .offer-prices{
                              position: absolute;
                              background-color: #7b7b7c;
                              border-radius: 50%;
                              text-align: center;
                              vertical-align: middle;
                              padding: 20px 10px;
                              margin-bottom: -10px;
                              z-index: 9999;
                              width: 80px;
                         .new-offer-price{
                              font-size: 20px;
                              font-weight: 300;
                              color: #fff;
                              margin-bottom: 5px;
                         }
                         .old-offer-price{
                              font-size: 15px;
                              font-weight: 300;
                              color: #fff;
                              margin-bottom: 5px;
                         }
                    }
                    .offer-content{
                         width: 200px;
                         height: 60px;
                         background-color: #fff;
                         text-align: center;
                         vertical-align: middle;
                         position: absolute;
                         top: 50%;
                         padding: 20px;
                         right: -64px;
                         a{
                              text-decoration: none;
                              color: #2a2a2a;
                              font-weight: 500;
                              font-size: 16px;
                         }
                         .offer-rating{
                              margin-top: 10px;
                              .star{
                                   width: 40px;
                                   height: 40px;
                                   color: #000;
                                   font-size: 20px;
                                   cursor: pointer;
                              }
                              .full{
                                   
                                   &::before{
                                        content:"\2605";
                                   }
                              }
                              .empty{
                                   color: #000;
                                   &::before{
                                        content:"\2606";
                                   }
                                   
                              }
                         }
                    }
                    }
               }
          }
     }
}

@media screen and (max-width:1024px){
     .furniture__gallery{      
          .furniture__gallery__header{
               font-size: 3vw;

          }
     }
}
@media screen and (max-width:840px){
     .furniture__gallery{      
          .furniture__gallery__header{
               font-size: 4vw;

          }
          .offers-categories{
               .offers-items{
                    .offers-item{
                         font-size: 2.6vw;
                    }
               }
          }
          .offers-informations{
               .offers-panels{
                    .right-panel{
                         .offer-items{
                              .offer-prices{
                                   .new-offer-price{
                                        font-size: 2.8vw;
                                   }
                                   .old-offer-price{
                                        font-size: 2.4vw;
                                   }
                              }
                              .offer-content{
                                   a{
                                        font-size: 2.2vw;
                                   }
                              }
                         }
                    }
               }
          }
     
          
     }
}
@media screen and (max-width:768px){
     .furniture__gallery{      
          .furniture__gallery__header{
               font-size: 4.5vw;
          }
          .offers-categories{
               .offers-items{
                    .offers-item{
                         font-size: 2.6vw;
                    }
               }
          }
          .offers-informations{
               .offers-panels{
                    .right-panel{
                         .offer-items{
                              .offer-prices{

                                   .new-offer-price{
                                        font-size: 3vw;
                                   }
                                   .old-offer-price{
                                        font-size: 2.7vw;
                                   }
                              }
                              .offer-content{
                                   a{
                                        font-size: 2.8vw;
                                   }
                              }
                         }
                    }
               }
          }
          
     }
}
@media screen and (max-width:648px){
     .furniture__gallery{
          margin-left: 50px;
          .furniture__gallery__header{
               font-size: 5vw;
          }
          .offers-categories{
               .offers-items{
                    .offers-item{
                         font-size: 3vw;
                    }
               }
          }
          .offers-informations{
               .offers-panels{
                    .right-panel{
                         .offer-items{
                              .offer-prices{

                                   .new-offer-price{
                                        font-size: 3.7vw;
                                   }
                                   .old-offer-price{
                                        font-size: 3.2vw;
                                   }
                              }
                              .offer-content{
                                   a{
                                        font-size: 3.5vw;
                                   }
                              }
                         }
                    }
               }
          }
     }
}
@media screen and (max-width:480px){
     .furniture__gallery{
          
          width: 100%;
          height: 600px;
          padding: 20px;
          .furniture__gallery__header{
               font-size: 6vw;

          }
          .offers-categories{
               .offers-items{
                    .offers-item{
                         font-size: 5.9vw;
                    }
               }
          }
          .furniture__gallery__content{
               height: 100%;
               .offers-informations{
                    height: 100%;
                    .current-offer{
                         height: 100%;

                         .current-offer-picture{
                              width: 100%;
                              height: 100%;
                              object-fit: cover;

                         }

                    }
                    .offers-panels{
                         .right-panel{
                              .offer-items{
                                   .offer-prices{
                                        width: 120px;
                                        height: 100px;
                                        bottom: 70px;
                                        display: flex;
                                        flex-wrap: wrap;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
                                        .new-offer-price{
                                             font-size: 6.7vw;
                                        }
                                        .old-offer-price{
                                             font-size: 6.2vw;
                                        }
                                   }
                                   .offer-content{
                                        right: -47px;
                                        a{
                                             font-size: 4.7vw;
                                        }
                                   }
                              }
                         }
                    }
               }

          }

     }
}
@media screen and (max-width:360px){
     .furniture__gallery{
          .furniture__gallery__header{
               font-size:8vw;

          }
          .offers-categories{
               .offers-items{
                    .offers-item{
                         font-size: 6.4vw;
                    }
               }
          }
          .furniture__gallery__content{
               .offers-informations{
                    .offers-panels{
                         .right-panel{
                              .offer-items{
                                   .offer-prices{
                                        .new-offer-price{
                                             font-size: 8.7vw;
                                        }
                                        .old-offer-price{
                                             font-size: 7.7vw;
                                        }
                                   }
                                   .offer-content{
                                        a{
                                             font-size: 6.2vw;
                                        }
                                   }
                              }
                         }
                    }
               }

          }
     }
}
@media screen and (max-width:320px){
     .furniture__gallery{
          .furniture__gallery__header{
               font-size:10vw;

          }
          .offers-categories{
               .offers-items{
                    .offers-item{
                         font-size: 6.6vw;
                    }
               }
          }
          .furniture__gallery__content{
               .offers-informations{
                    .offers-panels{
                         .right-panel{
                              .offer-items{
                                   .offer-prices{
                                        .new-offer-price{
                                             font-size: 9.7vw;
                                        }
                                        .old-offer-price{
                                             font-size: 8.7vw;
                                        }
                                   }
                                   .offer-content{
                                        a{
                                             font-size: 7.2vw;
                                        }
                                   }
                              }
                         }
                    }
               }

          }
     }
}
