.phone__number{
     margin-left: 25px;
     .phone-number{
          font-size: 14px;
          font-family: 'Poppins', Arial, Sans-Serif;
          color: #d8d8d8;
          text-decoration: none;
     }

}
