.categories__filter__size{
     padding: 20px 0;
     .categories__filters__header{
          font-size: 16px;
          font-weight:700;
          padding: 10px 0;
          margin-top: 10px;
          border-bottom: 1px solid #000;
     }
     .filters-items{
          padding: 20px 0;
          .filter-item{
               margin-bottom: 15px;

               display: flex;
               align-items: center;
               justify-content: space-between;
               .category__name{
                    font-size: 13px;
                    input{
                         vertical-align: middle
                         ;
                    }
               }
               .product-count{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    font-size: 13px;
                    background-color: var(--black);
                    color: var(--white);
                    padding: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

              }
              &:hover{
                   margin-left: 5px;
                   color: var(--orange);
                   cursor: pointer;
                    .product-count{
                         background-color: var(--orange);

                    }
              }
          }
          .active{
               margin-left: 5px;
               color: var(--orange);
               cursor: pointer;
               .product-count{
                    background-color: var(--orange);

               }
          }
     }
}
