.user_orders_container{
     display: flex;
     flex-direction: row;
     width: 80%;
     .products__list{
          width: 100%;
          .order__list__container{
               width: 91%;
          }
     }
}
