.reviews{
     display: flex;
     padding: 10px;
     .user__info{
          width: 10%;
          padding: 10px;
     }
     .review__info{
          width: 75%;
          height: 100px;
          padding: 10px;
          .product__name{
               margin-top: 10px;
          }
     }
}
