
.product__list__container{
     .categories{
          margin-top: 35px;
          display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: space-between;
         align-content: stretch;
         align-items: center;
         span{
          font-size: 20px;
          color: #d58e32;
          font-weight: 500;
         }
          .category-list{
               display: flex;
               li{
                    padding: 10px;
               }
               
          }
          .empty{
               width: 100px;
          }
     }
     .category-line-circle{
          display: flex;
          align-items: center;
          .category-line{
               width: 90%;
               height: 2px;
               background-color: #e2e2e2;

          }
          .circles{
               width: 90px;
               height: 15px;
               display: flex;
               margin-left: 35px;
               .circle{
                    width: 5px;
                    height: 5px;
                    padding: 5px;
                    margin-left: 15px;
                    border-radius: 50%;
                    background-color: #e2e2e2;
               }
               .active{
                    background-color: #d58e32;
               }
          }
     }
     
}
