.product__desc{
     width: 60%;
     padding: 20px;
     .product__title{
          font-size: 22px;
     }
     .product__feedback{

          display: flex;
          align-items: center;
          justify-content: flex-start;
          border-bottom: 1px solid #ccc;
          .reviews__desc{
               margin-left: 15px;
               font-size: 12px;
               a{
                    text-decoration: none;
                    color: #676767;
                    color: var(--black);
                    margin-left: 10px;
                    border-left: 1px solid #676767;
                    padding-left: 10px;
               }
          }
          
          
     }
     .product__price{
          display: flex;
          padding: 15px 0;
          border-bottom: 1px solid #ccc;
          text-align: center;
          .product-price{
               width:95px;
               height: 25px;
               padding: 5px;
               font-size: 22px;
          }
          .new-price{
               background-color: #2a2a2a;
               color: #fff;
          }
          .old-price{
               color: #ccc;
          }
     }
     .product__buttons{
          padding: 15px 0;
          .product-button{
               width: 35px;
               height: 35px;
               vertical-align: middle;
               background-color: #fff;
               font-size: 15px;
               cursor: pointer;
               &:hover{
                    background-color: var(--orange);
                    border: 1px solid var(--orange);
                    color: var(--white);
               }
          }
          .button-favorite-full{
               background-color: var(--orange);
               &::before{
                    content: "♡";
                    color: #fff;
               }
          }
          .add-to-cart{
               //left: 50%;
               height: 35px;
               background-color: #fff;
               border: 1px solid var(--black);
               &:hover{
                    background-color: var(--orange);
                    border: 1px solid var(--orange);
                    color: var(--white);
               }

               img{
                    width: 15px;
                    height: 15px;
                    vertical-align: middle;
               }
          }
          .button-favorite{
               &::before{
                    content: "\2661" ;
               }
          }
          .button-compare{
               &::before{
                    content: "\21C4" ;
               }
          }
          .button-mail{
               &::before{
                    content: "\2709" ;
               }
          }
     }
     .order__quantity{
          font-size: 14px;
          font-weight: 500;
          padding: 0 0 15px 0;
          border-bottom: 1px solid #ccc;
          color: #ccc;
          .order-quantity{
               height: 30px;
               width: 55px;
               text-align: center;
          }
          .add-quantity, .sub-quantity{
               height: 36px;
               width: 30px;
               background-color: var(--white);
               &:hover{
                    cursor: pointer;
                    color: var(--orange);
                    border: 1px solid var(--orange);
               }
          }
          
     }
     .quick__overview{
          padding: 10px 0;
          font-size: 14px;
          line-height: 1.4;
          color: #c2c2c2;
          border-bottom: 1px solid #ccc;
     }
     
     .product__info{
          font-size: 14px;
          padding: 10px 0;
          border-bottom: 1px solid #ccc;
          p{
               padding: 5px 0;
               margin-top: 5px;
               font-weight: 500;
               span{
                    font-weight:300;
                    color: #c2c2c2;

               }
          }
     }
     .social__networks{
          padding: 25px 0;
          a{
               text-decoration: none;
               .social__network{
                    height: 30px;
                    color: #888888;
                    cursor: pointer;
                    .social__network__text{
                         font-size: 13px;
                    }
                    svg{
                         width: 17px;
                         height: 20px;
                         vertical-align: middle;

                    }
               }
               .facebook{
                    width: 75px;
                    fill: var(--white);
                    padding:  5px;

                    background-color: #3b5998;
                    color: var(--white);
               }
               .instagram{
                    width: 90px;
                    fill: #d62d20;
                    padding: 5px;
                    background-color: var(--white);
               }
               .whatsapp{
                    background-color: var(--white);
                    padding: 5px;
                    fill: #0bce73;
               }
               .pinterest{
                    width: 93px;
                    fill: #d62d20;
                    padding: 5px;
                    background-color: var(--white);
               }
               .linkedin{
                    width: 93px;
                    fill: #8810c0;
                    padding: 5px;
                    background-color: var(--white);

               }
          }
     }

}
