.hot-deals-timer{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: nowrap;
     position: absolute;
     bottom:35%;
     left: 10%;
     width: 80%;
     height: 60px;
     .timer-item{
          width: 21%;
          height: 80%;
          border-radius: 50%;
          background-color: #3e3e3e;
          font-size: 1.1vw;
          text-align: center;
          font-weight: 700;
          color: #fff;
          padding: 5px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          
     }

}
@media screen and (max-width:1200px){
     .hot-deals-timer{
          .timer-item{

               font-size: 1.5vw;
          }
     }
}
@media screen and (max-width:1024px){
     .hot-deals-timer{
          .timer-item{

               font-size: 1.8vw;
          }
     }
}
@media screen and (max-width:996px){
     .hot-deals-timer{
          .timer-item{

               font-size: 2vw;
          }
     }
}
@media screen and (max-width:768px){
     .hot-deals-timer{
          
          .timer-item{

               font-size: 2.3vw;
          }
     }
}
@media screen and (max-width:648px){
     .hot-deals-timer{
          
          .timer-item{

               font-size: 2.8vw;
          }
     }
}
@media screen and (max-width:480px){
     .hot-deals-timer{
          left: 10%;
          width: 80%;
          bottom: 12%;
          height: 100px;
          .timer-item{
               font-size: 4.8vw;
          }
     }
}
@media screen and (max-width:360px){
     .hot-deals-timer{
          .timer-item{
               font-size: 6.8vw;
          }
     }
}
@media screen and (max-width:320px){
     .hot-deals-timer{
          .timer-item{
               font-size: 7.8vw;
          }
     }
}
