:root{

     --orange : #d58e32;
     --white : #fff;
     --pathPanelColor : #e2e2e2;
     --black : #000;
     --lineBorder: #d4d4d4;
     --refreshButtonUrl:"http://eshopfinal.net//template/images/icons/refresh.png"
}

