.latest__blog__header{
     .latest-blog-header{
          font-size: 20px;
          color: #d58e32;
          font-weight: 500;
     }
     .latest__blog_line__circles{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .latest__blog__line{
               width: 100%;
               background-color: #e2e2e2;
               height: 2px;
          }
          .circles{
               width: 90px;
               height: 15px;
               display: flex;
               margin-left: 35px;
               .circle{
                    cursor: pointer;
                    width: 5px;
                    height: 5px;
                    padding: 5px;
                    margin-left: 15px;
                    border-radius: 50%;
                    background-color: #e2e2e2;
               }
               .active{
                    background-color: #d58e32;
               }
          }
     }
}
