.latest__blog__content{
     width: 100%;
     height: 480px;

     .latest__blog__items{
          width: 100%;
          height: 480px;
          background-color: #fff;
          display: flex;
          gap: 25px;
          .latest__blog__item{
               width: 31.4%;
               height: 480px;
               background-color: #fff;
               text-align: center;
               display: flex;
               justify-content: center;
               flex-direction: column;
               overflow: hidden;
               position: relative;

               .latest__blog__item__pictures{
                    //width: 600px;
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    transition: left 0.75s ease-in-out;
                    .latest__blog__item__picture{
                         
                         img{
                              width: 381px;
                              height: 230px;
                         }

                    }
               }
               .arrows{
                    position: relative;
                    bottom: 25%;
                    width: 100%;
                    .arrow-left{
                         background-color: #9d9d9d;
                         width: 30px;
                         position: absolute;
                         left: 0;
                         top: 0;
                         border-radius: 50%;
                         &:hover{
                              background-color: #2a2a2a;
                              cursor: pointer;
                         }
                         img{
                              width: 30px;
                              height: 30px;
                         }
                    }
                    .arrow-right{
                         background-color: #9d9d9d;
                         width: 30px;
                         position: absolute;
                         right:0;
                         top: 0;
                         border-radius: 50%;
                         &:hover{
                              background-color: #2a2a2a;
                              cursor: pointer;
                         }
                         img{
                              width: 30px;
                              height: 30px;
                         }
                    }
               }
               .latest__blog__item__title{
                    background-color: #fff;
                    width:100%;
                    height: 48px;
                    font-size: 13px;
                    color: #676767;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    img{
                         width: 15px;
                         height: auto;
                         margin-right: 5px;
                         vertical-align: middle;
                    }
               }

                    .latest_blog_content {
                         background-color: #fff;
                        
                         width: 100%;

                         cursor: pointer;
                         .item-user-avatar{
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              .review__user__avatar{
                                   margin-right: 10px;
                                   img{
                                        width: 30px;
                                        height: auto;
                                   }
                              }
                         }
                         .item-desc-title{
                              padding: 15px 0;
                              color: #676767;
                              font-weight: 500;
                         }
                         .item-desc-text{
                              font-size: 14px;
                              color: #676767;
                              line-height: 1.3;
                              height: 40px;
                         }
                         .latest-blog-footer {
                             
                              .latest_blog_button{
                                   width: 130px;
                                   height: 30px;
                                   background-color: #2a2a2a;
                                   margin-top: 30px;
                                   left: 10px;
                                   color: #fff;
                                   cursor: pointer;
                              }
                         }
                         &:hover .latest_blog_button{
                              background-color: #d58e32;
                         }
                         &:hover .item-desc-title{
                              color: #d58e32;
                         }
                    }
          }
     }
     
}
