.login__register{
     display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    font-size: 13px;
     .login__register__item{
          padding: 10px;
          .register-link{
               color: var(--white);
               text-decoration: none;
               padding: 10px;
               &:hover{
                    cursor: pointer;
                    background-color: var(--orange);
                    padding: 10px;
               }
          }
          .register-hello{
               cursor: pointer;
          }
          .register__icon{
               fill: #fff;
          }
     }

     
          
}
