.settings{
     display: flex;
     justify-content: space-evenly;
     align-content: center;
     flex-wrap: wrap;
     flex-direction: row;
     align-items: center;
     .settings__currency{
          position: relative;
          width: 50px;
          height: 35px;
          display: flex;
          padding: 5px;
          &:hover{

               .settings__currency__item{
                    display: inline-block;
                    position: absolute;
                    top: 35px;
                    
               }
          }
          .setting__currency{
               padding:8px 10px;
               background-color: #434343;
               &:hover{
                    cursor: pointer;
                    background-color: #d58e32;
     
               }
         }
          .settings__currency__item{

               display: none;
          }
     }
     .settings__currency__lang{
          width: 100px;
     }
     .settings__about{
          a{
               color: var(--white);
               vertical-align: text-top;
               text-decoration: none;
          }
     }
    

}
