.form__container{
     width: 87%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
     form{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-content: stretch;
          justify-content: center;
          .form__items{
               display: flex;
               flex-direction: column;
               align-content: center;
               justify-content: space-between;
               align-items: center;
               flex-wrap: wrap;
               width: 50%;
               margin-top: 30px;
               border: 3px solid var(--orange);
               border-radius: 10px;
               .form__item{
                    padding: 15px 0 ;
                    height: 30px;
                    width: 50%;
                    margin: 15px 0 0 0;
                    .current__order__infos{
                         .current__order__info{
                              border: 1px solid var(--orange);
                         }
                    }
                    .form__item__header{
                         margin-bottom: 5px;
                         
                    }
                    img{
                         width: 50px;
                         height: auto;
                    }
                    select, input, textarea{
                         font-size: 14px;

                         
                         height: 30px;
                         width: 100%;
                         border-radius: 5px;
                         color: #ccc;
                    }
                    textarea{
                         height: 50px;
                    }
               }
               .form__item__insert__picture{
                    margin-top: 50px;
               }
               .product__save{
                    width:100px;
                    height: 30px;
                    background-color: var(--orange);
                    margin: 20px 0;
                    outline: 0;
                    cursor: pointer;
               }
          }

     }
}
     


