.search__area{
     width: 50%;
     .search__part{
          //background-color: red;
          display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         align-content: space-around;
         justify-content: flex-start;
         align-items: center;
         .search__products{
              position: relative;
              width: 50%;
              padding: 17px;
              .search-input{
                   height: 25px;
                   padding: 19px 34px;
                   position: absolute;
                   top: -16px;
                   left: 0;
                   width: 50%;
               }
               .search-button{
                    
                    height: 50px;
                    background:transparent ;
                    border: 0;
                    position: absolute;
                    bottom: -6px;
                    top: -10px;
                    z-index: 0;
                    cursor: pointer;
                    background-image: url("http://eshopfinal.net/template/images/icons/search-button.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    &:hover{
                         background-image: url("http://eshopfinal.net/template/images/icons/search-button-active.svg");
                    
                    }
              }
              .search__items{
                    position: absolute;
                    top: 42px;
                    text-align: center;
                    width: 100%;
                    border-radius: 5px;
                    height: 100px;
                    overflow-y: auto;
                    left: 0;
                    z-index: 99999;
                   .search__item{
                         height: 30px;
                         padding-top: 10px;
                         background-color: var(--white);
                         border-bottom: 1px solid var(--black);
                         a{
                              text-decoration: none;
                              color: var(--black);
                              &:hover{
                                   color: var(--orange);
                              }
                         }
     
                   }
                   .hints_item{
                    cursor: pointer;
                   }
              }
              .hidden{
                   display: none;
              }
         }
     }

}


@media screen and (max-width: 1024px) {
     .search__area{
          .search__part{
               .search__products{
                    .search-input{
                         font-size: 1.8vw;
                    }
               }
          }
     }
 }
   
 @media screen and (max-width:840px) {
      .search__area{
           width: 60%;
           .search__part{
               .search__products{
                    .search-input{
                         font-size: 1.8vw;
                    }
               }
          }
      }
      
 }

   
@media screen and (max-width: 768px) {
     .search__area{
          width: 60%;
          .search__part{
               .search__products{
                    .search-input{
                         font-size: 2.2vw;
                    }
               }
          }
     }
     
}
@media screen and (max-width: 648px) {
     .search__area{
          width: 70%;
          .search__part{
               .search__products{
                    .search-input{
                         font-size: 3vw;
                    }
               }
          }
     }
     
}
@media screen and (max-width: 480px) {
     .search__area{
          width: 75%;
          .search__part{
               .search__products{
                    .search-input{
                         font-size: 3.3vw;
                    }
               }
          }
     }
     
}
@media screen and (max-width: 360px) {
     .search__area{
          .search__part{
               .search__products{
                    .search-input{
                         font-size: 5vw;
                    }
               }
          }
     }
     
}
@media screen and (max-width: 320px) {
     .search__area{
          .search__part{
               .search__products{
                    .search-input{
                         font-size: 6vw;
                    }
               }
          }
     }
     
}
   

   
