.hot__deals__content{
     position: relative;
     text-align: center;
     .sale{
          position: absolute;
          top: 2%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 20px;
          width: 45px;
          z-index: 99998;
          border-radius: 0 0 15px 15px;
          background-color: #2a2a2a;
          color: #fff;
          font-size: 12px;
     }
     .hot-deals-picture{
          width: 100%;
          height: 220px;
          position: relative;
          text-align: center;
          img{
               width: 80%;
               height: 80%;
               object-fit: cover;
               &:hover{
                    object-fit: contain;
               }
          }
     }
     .add-cart{
          visibility: hidden;
          position: absolute;
          width: 130px;
          height: 30px;
          top: 35%;
          left: 35%;
          cursor: pointer;
          background-color: #2a2a2a;
          border-radius: 5px;
          z-index: 99999;
          img{
               vertical-align: bottom;
               width: 20px;
               height: auto;
          }
          .add-cart-text{
               margin-left: 0px;
               color: #fff;
               font-size: 11px;
               vertical-align: text-top;
               padding: 5px;
          }
     }
     &:hover{
          .add-cart{
               visibility: visible;
               position: absolute;
               width: 130px;
               height: 30px;
               top: 35%;
               left: 35%;
               cursor: pointer;
               background-color: #2a2a2a;
               border-radius: 5px;
               
               img{
                    vertical-align: sub;
                    width: 20px;
                    height: auto;
                    //margin-right: 5px;
               }
               .add-cart-text{
                    margin-left: 0px;
                    color: #fff;
                    font-size: 11px;
                    vertical-align: text-top;
                    /* width: 100%; */
                    padding: 5px;
               }
               &:hover{
                    background-color: var(--orange);
               }
          }
     }

     .hot-deals-desc-part{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: center;
          justify-content: center;
          align-items: center;

          .hot-deals-desc-header{
               .hot-deals-header{
                    font-size: 16px;
                    padding: 20px 0;
                    font-weight: 500;
                    .product-link{
                         text-decoration: none;
                         color: var(--black);
                    }
               }
          }
          .hot-deals-desc-rating{
               .star{
                    width: 50px;
                    height: 50px;
                    color: #000;
                    font-size: 30px;
                    cursor: pointer;
               }
               .full{
                    
                     &::before{
                         content:"\2605";
                    }
               }
               .empty{
                    color: #000;
                     &::before{
                         content:"\2606";
                    }
                    
               }
          }
          .hot-deals-desc-options{
               display: flex;
               flex-wrap: nowrap;
               flex-direction: row;
               justify-content: space-between;
               align-items: center;
               width: 100%;
               margin-top: 20px;
               .hot-deals-buttons{
                    .hot-deals-button{
                         width: 35px;
                         height: 35px;
                         background-color: #fff;
                         font-size: 15px;
                         cursor: pointer;
                         &:hover{
                              background-color: #d58e32;
                         }
                    }
                    
                    .button-eyes{
                         vertical-align: middle;

                         &::before{
                              content: "\1F441" ;
                         }
                    }
                    .button-favorite{
                         vertical-align: middle;
                         
                         &::before{
                              content: "\2661" ;
                         }
                    }
                    .button-favorite-full{
                         &::before{
                              content: "\2661" ;
                              color: #fff;
                         }
                         border-color: #d58e32;
                         background-color: #d58e32;
                    }
                    .button-compare{
                         &::before{
                              content: "\21C4" ;
                         }
                    }
               }

               .hot-deals-prices{
                    display: flex;
                    .hot-deals-price{
                         width: 60px;
                         height:18px;
                         padding: 10px;
                         text-align: center;
                    }
                    .new-price{
                         background-color: #2a2a2a;
                         color: #fff;
                    }
               }
          }
     }
}

@media screen and (max-width:1300px){
     .hot__deals__content{
          .sale{
               font-size: 1.2vw;
          }
          .hot-deals-desc-part{
               .hot-deals-desc-options{
                    flex-direction: column-reverse;
                    margin-top: 20px;
                    .hot-deals-prices{
                         font-size: 1.5vw;
                         .hot-deals-price{
                              width: 70px;
                         }
                    }
                    .hot-deals-buttons{
                         margin-top: 10px;
                    }
               }
               .hot-deals-desc-header{
                    .hot-deals-header{
                         font-size: 1.5vw;
                    }
               }

          }
     }
}
@media screen and (max-width:1024px){
     .hot__deals__content{
          .hot-deals-desc-part{
               .hot-deals-desc-options{
                    .hot-deals-prices{
                         font-size: 2vw;

                    }
               }
     
               .hot-deals-desc-header{

                    .hot-deals-header{
                         font-size: 2vw;
                    }
               }
          }
          .sale{
               font-size: 1.5vw;
          }
     }
}
@media screen and (max-width:840px){
     .hot__deals__content{
          .hot-deals-desc-part{
               .hot-deals-desc-options{
                    .hot-deals-prices{
                         font-size: 2.4vw;

                    }
               }
               .hot-deals-desc-header{
                    .hot-deals-header{
                         font-size: 2.5vw;
                    }
               }
          }
          .sale{
               font-size: 1.8vw;
          }
     }
}
@media screen and (max-width:768px){
     .hot__deals__content{
          .hot-deals-desc-part{
               .hot-deals-desc-options{
                    .hot-deals-prices{
                         font-size: 2.6vw;

                    }
               }
               .hot-deals-desc-header{
                    .hot-deals-header{
                         font-size: 3vw;
                    }
               }
          }
          .sale{
               font-size: 2vw;
          }
     }
}
@media screen and (max-width:648px){
     .hot__deals__content{
          .hot-deals-desc-part{
               .hot-deals-desc-options{
                    .hot-deals-prices{
                         font-size: 3vw;

                    }
               }
               .hot-deals-desc-header{
                    .hot-deals-header{
                         font-size: 3.5vw;
                    }
               }
          }
          .sale{
               font-size: 2.2vw;
          }
     }
}
@media screen and (max-width:480px){
     .hot__deals__content{
          .hot-deals-desc-part{
               .hot-deals-desc-options{
                    flex-direction: row;

                    .hot-deals-prices{
                         font-size: 5.5vw;
                         .hot-deals-price{
                              width: 90px;
                              height: 25px;
                         }

                    }
               }
               .hot-deals-desc-header{
                    .hot-deals-header{
                         font-size: 6vw;
                    }
               }
          }
          .sale{
               font-size: 3vw;
          }
          .hot-deals-picture{
               height: 300px;
               
               img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    &:hover{
                         object-fit: contain;
                    }
               }
          }

     }
}
@media screen and (max-width:360px){
     .hot__deals__content{
          .hot-deals-desc-part{
               .hot-deals-desc-options{
                    .hot-deals-prices{
                         font-size: 6.5vw;
                    }
               }
               .hot-deals-desc-header{
                    .hot-deals-header{
                         font-size: 8vw;
                    }
               }
          }
          .sale{
               font-size: 4vw;
          }
     }
}
@media screen and (max-width:320px){
     .hot__deals__content{
          .hot-deals-desc-part{
               .hot-deals-desc-options{
                    .hot-deals-prices{
                         font-size: 7.5vw;
                    }
               }
               .hot-deals-desc-header{
                    .hot-deals-header{
                         font-size: 10vw;
                    }
               }
          }
          .sale{
               font-size: 4.5vw;
          }
     }
}
